<div class="row">
    {{#each products}}
        <div class="col-sm-4">
            <div class="card h-100">
                <img class="card-img-top" src="{{this.image}}" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{this.title}}</h4>
                    <p class="card-text">{{this.excerpt}}</p>
                </div>
                <div class="card-footer">
                    Ratings: {{this.rating}}
                    <span class="float-right">Price: ${{this.price}}</span> 
                </div>
            </div>
        </div>
    {{/each}}
</div>